extends layout

block content
  h1(align='center') WELCOME ADMIN

  div(align='right')
   a(href = "/dashboard/admin") Dashboard
   |&nbsp;|&nbsp;
   a(href = "/logout") logout
  br

  h2= "ADMIN SEARCH"
  form(action = "adminSearch" method="POST")
   input(type="text" name="name" required)
   input(type="submit" value="SEARCH" required)
  
  if(books)
   div
    if(books.length == 0)
     p NOT AVAILABLE

    if(books.length > 0)
     table
      tr
       th Book name
       th AVAILABLE
       th Total
      each book in books
       tr
        td
         a(href = "/bookHistory/#{book.name}") #{book.name}
        td #{book.available}
        td #{book.count}