extends layout

block content

  div(align='right')
   a(href = "/dashboard/admin") Dashboard
   |&nbsp;&nbsp;<font size="5">|</font>&nbsp;&nbsp;
   a(href = "/logout") logout
  hr

  h3 History of Book : #{bookName}

  table(class='history_table')
   tr
    th Book Id
    th Taken By
    th Taken Date
    th Return Date
   div(class = "table_alignment")
    each book in history
     tr 
      td #{book.id}
      td #{book.user_id}
       if(!book.user_id) 
        |---
      td #{book.taken_date}
       if(!book.taken_date) 
        |---
      td #{book.return_date}
       if(!book.return_date) 
        |---



