extends layout

block content
  h1(align='center') WELCOME USER
  div(align='right')
   a(href = "/logout") logout
  h2= "USER SEARCH"

  form(action = "search")
   input(type="text" name="name" required)
   input(type="submit" value="SEARCH" required)
  div
   if(books)
    if(books.length == 0)
     | No results found
    if(books.length > 0)
     table(class='search_table')
      tr
       th Book Id
       th Name Of the Book
       th Status
      each book in books
       tr
        td #{book.id}
        td #{book.book_name}
        td 
         if(book.available == 1)
          form(action="borrow/#{book.id}")
           input(type = "submit" value = "BORROW")
         if(userId == book.takenBy)
          form(action="return/#{book.id}")
           input(type = "submit" value = "RETURN")
         if(book.available == 0 && userId != book.takenBy)
          | Not Available
         
