extends layout

block content
  h1 WELCOME USER
  h2= "USER SEARCH"
  a(href = "/logout") logout

  form(action = "search")
   input(type="text" name="name" required)
   input(type="submit" value="SEARCH" required)
  div
   if(topics)
    if(topics.length == 0)
     | No results found
    if(topics.length > 0)
     table
      tr
       th Book Id
       th Name Of the Book
       th Status
      each topic in topics
       tr
        td #{topic.id}
        td #{topic.book_name}
        td 
         if(topic.available == 1)
          form(action="borrow/#{topic.id}")
           input(type = "submit" value = "BORROW")
         if(userId == topic.takenBy)
          form(action="return/#{topic.id}")
           input(type = "submit" value = "RETURN")
         if(topic.available == 0 && userId != topic.takenBy)
          | Not Available
         
